.PostDetails-header {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    display: flex;
}
.PostDetails-title {
    flex: 1;
}

.PostDetails-2nd-header {
    display: flex;
}
.PostDetails-description {
    margin-bottom: 15px !important;
    flex: 1
}

.PostDetails-divider {
    height: 2px !important;
    margin: 20px 0 !important;
}